<h1>Users</h1>
<%= link_to t("user.create_new"), new_admin_user_path %>
<table id="users">
  <thead>
  <tr>
    <th> <%= t "user.email" %> </th>
    <th> <%= t "user.name" %> </th>
    <th> <%= t "user.role" %> </th>
    <th> <%= t "user.status" %> </th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.role.capitalize %></td>
      <td>Confirmed</td>
    </tr>
  <% end %>
  </tbody>
</table>
